.main1{
   
}
























/* {
  background-color: #ffffff;
}

.review-card {
  bottom: -40px;
  right: 30px;
  width: 280px;
  border-radius: 15px;
}

.text-success {
  color: #2f5d50 !important;
}

.btn-success {
  background-color: #2f5d50;
  border-color: #2f5d50;
}

.btn-outline-success {
  border-color: #2f5d50;
  color: #2f5d50;
}

.btn-outline-success:hover {
  background-color: #2f5d50;
  color: #fff;
} */
